/* <----CSS Tricks linear gradient on text---->

  background: -webkit-linear-gradient(rgb(4, 49, 145), rgb(90, 117, 235));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
*/


/* <-----Animations des h2---->

h2:hover{
  transform: translateX(10px); /* Animation des h2
*/




/* <----DEBUT LAYOUT----> */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

#main>article {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0;
  margin: auto;
}

header,
footer {
  height: 20vh;
}

header,
footer,
article {
  padding: 1em;
}

footer {
  background: #444;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 20px;
}

/* ----FIN LAYOUT---- */





/* ----DEBUT MENU---- */
#menu {
  font-size: 1vw;
  position: fixed;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#2f2f2f99), to(#1e1e1e66));
  background: linear-gradient(#2f2f2f99, #1e1e1e66);
  z-index: 99;
  font-weight: bold;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
  list-style-type: none;
  text-align: center;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  /* transition background-color */
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  /* transition 1s */
  color: white;
  font-family: 'Comfortaa', cursive;
}

li>i {
  padding-right: 0.5vmin;
}

ul>a {
  text-decoration: none;
}

li:hover {
  background-color: #348bed99;
  color: #fff;
}

/* ----FIN MENU---- */




h2 {
  text-align: center;
  text-transform: uppercase;
  color: rgb(54, 133, 236);
  text-shadow: 1px 1px 0px #575757;
  margin: 0;
  margin-bottom: 2vh;
}


/* ----DEBUT SECTION ACCUEIL---- */
#sectionAccueil {
  background-image: url(../img/code2.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-size: 10vmin;
  color: white;
}

#tg {
  margin: 0;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  padding-top: 40vh;
  padding-bottom: 10vh;
}

#apprenant {
  font-size: 3vmin;
  text-align: center;
  margin: 0;
  font-family: 'Comfortaa', cursive;
}

#v_container {
  text-align: center;
  -webkit-animation: rebond 1s infinite;
  animation: rebond 1s infinite;
  font-size: 8vmin;
}

#v_container>p>a {
  text-decoration: none;
  color: white;
  text-align: center;
}

@-webkit-keyframes rebond {
  0% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }

  50% {
    -webkit-transform: translatey(40%);
    transform: translatey(40%);
  }

  100% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}

@keyframes rebond {
  0% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }

  50% {
    -webkit-transform: translatey(40%);
    transform: translatey(40%);
  }

  100% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}

/* ----FIN SECTION ACCUEIL---- */





#section2,
#section3,
#section3b,
#section4,
#section5 {
  margin: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  font-size: 3vmin;
  font-family: 'Comfortaa', cursive;
  padding: 30px 0;
}




/* ----DEBUT SECTION 2---- */
#section2 {
  background: #bdd4e7;
  height: 100%;
}

#a_propos_descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin: 0 6%;
}

#photo {
  margin-right: 14%;
}

#photo img {
  width: 200%;
}

#section img {
  height: 40vmin;
  border-style: solid;
  border-width: 10px 10px 50px 10px;
  border-color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(194, 194, 194)), to(rgb(98, 92, 78)));
  background: linear-gradient(rgb(194, 194, 194), rgb(98, 92, 78));
  border-radius: 5px;
}

q {
  font-size: 50px;
  quotes: '«''»';
  /*Active les guillemets normale...*/
  font-size: 3vmin;
}

#texte {
  background: -webkit-linear-gradient(rgb(4, 49, 145), rgb(90, 117, 235));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: auto;
}

#compétence {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.titre_comp>i {
  font-size: 7vw;
  color: #3684e9;
  margin-top: 5vh;
  margin-bottom: 3vh;
}

.titre_comp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 27vw;
  text-align: center;
  font-size: 1.5vw;
  margin-bottom: 15vh;
}

.texte_comp {
  text-align: justify;
  font-size: 1.2vw;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  margin-top: 3vh;
}

div.titre_comp:nth-child(3) {
  margin-bottom: unset;
}


/* ----FIN SECTION 2---- */




/* ----DEBUT SECTION 3---- */
#section3 {
  background: #aab9cf;
}

#parcours_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: -webkit-linear-gradient(rgb(4, 49, 145), rgb(90, 117, 235));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#parcours {
  margin-left: 3%;
}

/* ----FIN SECTION 3---- */



/* ----DEBUT SECTION 3b---- */
#section3b {
  background: #8fa1bd;
  height: 100%;
}







#projets section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-direction: column; */
  width: auto;
  padding: 0 100px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#tuto_guillaume,
#create_pro,
#zinfo974,
#landing_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#tuto_guillaume p,
#create_pro p,
#zinfo974 p,
#landing_page p {
  text-align: center;
}

#tuto_guillaume div,
#create_pro div,
#zinfo974 div,
#landing_page div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 100px;
}

.img_monitor {
  width: 600px;
}

.img_mobile {
  width: 200px;
  position: relative;
  right: 82px;
}

#tuto_guillaume a {
  text-decoration: none;
  margin-bottom: 4vh;
}

#tuto_guillaume input {
  width: 100%;
  padding: 0 50;
}

/* ----FIN SECTION 3b---- */


input[type=submit] {
  width: 15vmin;
  height: 10vmin;
  font-size: 2vmin;
  font-weight: bold;
  background-color: white;
  color: black;
  border: 2px solid rgb(37, 37, 37);
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

input[type=submit]:hover {
  background-color: rgb(37, 37, 37);
  /* Black */
  color: white;
  cursor: pointer;
}






/* ----DEBUT SECTION 4---- */
#section4 {
  background: #8693ab;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#txt_cv,
#btn_cv {
  text-align: center;
}

/* ----FIN SECTION 4---- */





/* ----DEBUT SECTION 5---- */
#section5 {
  height: 100%;
  background: #637074;
}

#contact2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ligneform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

label {
  width: 10vw;
}

#contact {
  text-align: center;
}

#message,
#email,
#nom {
  width: 76vmin;
  font-size: 2vmin;
}

/* ----FIN SECTION 5---- */

/*----DEBUT MEDIAS QUERIES----*/
@media screen and (max-width: 1020px) {
  body {
    width: auto;
  }

  #menu {
    width: auto;
  }

  ul {
    font-size: 3vw;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  #tg {
    font-size: 15vmin;
  }

  #apprenant {
    font-size: 4vw;
  }

  #a_propos_descr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #photo {
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  #photo img {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  #texte {
    text-align: center;
  }

  #compétence {
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .titre_comp {
    width: 60vw;
    font-size: 25px;
    margin: 0;
  }

  .texte_comp {
    font-size: 18px;
  }

  div.titre_comp:nth-child(3)>div:nth-child(3) {
    margin-bottom: 3vh;
  }

  #section2 {
    width: auto;
    height: 100%;
  }

  #projets section {
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  #tuto_guillaume,
  #create_pro,
  #zinfo974,
  #landing_page {
    width: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .img_monitor {
    width: 300px;
  }

  .img_mobile {
    width: 100px;
  }
}

@media screen and (max-width: 450px) {
  #section2 {
    width: auto;
  }

  .texte_comp {
    font-size: 13px;
  }
}

/*----FIN MEDIAS QUERIES----*/