<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Guillaume TECHER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="manifest" href="icons/site.webmanifest">
    <link rel="mask-icon" href="icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <div id="main">
        <article id="app">
            <div id="menu">
                <div id="menuPc">

                    <a href="#"><i class="fas fa-home"></i>Accueil</a>
                    <a href="#section2"><i class="fas fa-user"></i>A propos</a>
                    <a href="#section3"><i class="fas fa-graduation-cap"></i>Parcours/Diplomes</a>
                    <a href="#section3b"><i class="fas fa-tasks"></i>Projets réalisés</a>
                    <a href="#section4"><i class="fas fa-file-alt"></i>CV</a>
                    <a href="#section5"><i class="fas fa-envelope"></i>Contact</a>
                </div>

            <div role="navigation">
                    <div id="menuToggle">
                        <!--
                      A fake / hidden checkbox is used as click reciever,
                      so you can use the :checked selector on it.
                      -->
                        <input type="checkbox" id="checkboxMenu"/>
        
                        <!--
                      Some spans to act as a hamburger.
                      
                      -->
                        <span></span>
                        <span></span>
                        <span></span>
        
                        <!--
                      Too bad the menu has to be inside of the button
                      but hey, it's pure CSS magic.
                      -->
                        <ul id="menu_hamburger">
                            <a href="#" @click="closeMenu()">
                                <li><i class="fas fa-home"></i>Accueil</li>
                            </a>
                            <a href="#section2" @click="closeMenu()">
                                <li><i class="fas fa-user"></i>A propos</li>
                            </a>
                            <a href="#section3" @click="closeMenu()">
                                <li><i class="fas fa-graduation-cap"></i>Parcours/Diplomes</li>
                            </a>
                            <a href="#section3b" @click="closeMenu()">
                                <li><i class="fas fa-tasks"></i>Projets réalisés</li>
                            </a>
                            <a href="#section4" @click="closeMenu()">
                                <li><i class="fas fa-file-alt"></i>CV</li>
                            </a>
                            <a href="#section5" @click="closeMenu()">
                                <li><i class="fas fa-envelope"></i>Contact</li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>



            <div id="sectionAccueil">
                <div id="nom_prenom">
                    

                    
                    <div>
                        <p id="tg">Guillaume<br />TECHER</p>
                    </div>


                    <div id="logo">
                        <div id="agileAccueil"><img class="agileImg" src="img/agile2.png" alt=""></div>
                        <div id="oquastAccueil"><img class="opquastImg" src="img/Badge-Opquast-Avancé.svg" alt=""></div>
                        <div id="googleAccueil"><img class="googleImg" src="img/google.png" alt=""></div>
                        <div id="wPAccueil"><img class="wPImg" src="img/WordPress.png" alt=""></div>
                    </div>

                    <div>
                        <p id="apprenant">Apprenant Développeur Web <br /> chez Simplon Réunion</p>
                    </div>
                    <!-- <div id="certifié">Certifié :
                        <span>Opquast, </span>
                        <span>WordPress, </span>
                        <span>Méthodes agiles, </span>
                        <span>Google -<br>marketing numérique</span>
                    </div> -->
                    <div id="v_container">
                        <p><a href="#a_propos_titre"><i class="fas fa-angle-double-down"></i></a></p>
                    </div>
                </div>
            </div>

            <div id="section2">
                <h2 id="a_propos_titre">A propos de moi ...</h2>
                <div id="a_propos">
                    <div id="a_propos_descr">
                        <div id="photo"><img src="img/myAvatar2.png" alt="une photo"></div>
                        <p id="texte"><q>Passioné d'informatique et de photographies,<br />je suis actuellement un
                                apprenant de la formation développeur Web chez simplon réunion.</q></p>
                    </div>
                </div>
                <div id="compétence1">
                    <div class="titre_comp"><i class="fab fa-wordpress"></i><span class="titleComp">Créations de site <br />avec WordPress</span>
                        <div class="texte_comp">Installations, configurations, Sauvegardes, migrations, WooCommerce, thème enfants,
                            SEO, FTP.</div>
                        <!-- <div class="texte_comp">Installations et configurations de WordPress pour concevoir des sites
                            Webs, boutique WooCommerce et portfolio. Sauvegarde et migration de site Web. Créations et
                            modification d’un thème enfants. Identification et utilisation des langages HTML, CSS et
                            PHP. Optimisation du SEO et analyse du trafic de son site. Utilisation de logiciels de
                            transfert de fichiers en FTP.</div> -->

                    </div>
                    <div class="titre_comp"><i class="fas fa-tools"></i> <span class="titleComp">Maintenances <br />informatiques</span>
                        <div class="texte_comp">Installations, machines virtuelles, assemblages,
                            diagnostiques, optimisations, installations des pilotes, récupérations de données, sauvegardes,
                            serveur Web, proxy Pf-Sense, anglais technique.</div>
                        <!-- <div class="texte_comp">Installations, réparations et suppressions de systèmes Windows et Linux
                            sur PC ou machines virtuelles. Assemblage complet d’ordinateurs. Détections de pannes
                            matériels. Optimisations d’ordinateur. Installations des pilotes de périphérique.
                            Récupérations, sauvegardes et restaurations de données. Création de serveur Web
                            Ubuntu/Debian et proxy Pf-Sense. Connaissance des différends périphériques. Compréhension
                            de l’anglais technique. Connaissance des réseaux informatiques.</div> -->
                    </div>
                    <div class="titre_comp"><i class="fas fa-camera"></i><span class="titleComp">Photographie <br />numérique</span>
                        <div class="texte_comp">Triangle d’exposition, panoramas, apsc, plein-format, focale, 
                            flou d’arrière-plan, hyperfocal, règle des tiers, fichier Raw, retouche simple et avancé, traitement par lots, 
                            filtres ND et polarisant.</div>
                        <!-- <div class="texte_comp">Utilisation du triangle d’exposition, Prise de photos en panoramas.
                            Connaissances des différends types de boîtiers et leurs capteurs : apsc, plein-format,
                            compacts… Utilisation des différends modes d’autofocus. Gestion de la focale. Gestion du
                            flou d’arrière-plan. Connaissance de l’hyperfocal et de la règle des tiers. Prise et
                            traitement des fichier Raw. Retouche simple et avancé d’image. Traitement par lots.
                            Utilisation des filtres ND et polarisant.</div> -->
                    </div>
                </div>
                <div id="compétence2">


                    <div class="titre_comp">
                        <div><img src="img/Badge-Opquast-Avancé.svg" alt=""></div><span class="titleComp">Opquast (niveau avancé)</span>
                        <div class="texte_comp">
                            Gestion de projet.
                            Prise en compte des exigences des utilisateurs.
                            Utilisation des bonnes pratiques.
                            Prévention des risques de qualité web.
                            Validation de la qualité d’un projet web.
                        </div>
                        <!-- <div class="texte_comp">
                            Maîtrise du vocabulaire et des métiers du projet web.
                            Prise en compte des exigences des utilisateurs.
                            Maîtrise des bonnes pratiques et surtout leur conception et leur utilisation.
                            Prévention des risques de qualité web.
                            Validation de la qualité d’un projet web.
                        </div> -->
                    </div>
                </div>
            </div>

            <div id="section3">
                <div id="diplome">
                    <h2>Parcours et diplomes</h2>
                    <div class="texteDiplome">
                        <div class="parcoursEtDiplome">


                            <ul>
                                <li>2019 - Google, marketing numérique (<a
                                        href="https://learndigital.withgoogle.com/ateliersnumeriques/course/digital-marketing"
                                        title="Principes fondamentaux du marketing numérique" target="_blank"
                                        rel="noopener noreferrer">Google.com <i
                                            class="fas fa-external-link-alt"></i></a>)</li>
                                <li>2019 - Certification Opquast - avancé (<a href="http://www.opquast.com"
                                        title="Site web de Opquast" target="_blank"
                                        rel="noopener noreferrer">opquast.com <i
                                            class="fas fa-external-link-alt"></i></a> )</li>
                                <li>2019 - Developpeur Web (<a href="https://simplon.co/" target="_blank"
                                        title="Site de Simplon Réunion" rel="noopener noreferrer">Simplon Reunion <i
                                            class="fas fa-external-link-alt"></i></a>)</li>
                                <li>2018 - WordPress (<a href="https://simplon.co/" target="_blank"
                                        title="Site de Simplon Réunion" rel="noopener noreferrer">Simplon Reunion <i
                                            class="fas fa-external-link-alt"></i></a>)</li>
                                <li>2015 - Technicien Informatique</li>
                            </ul>


                        </div>


                    </div>
                </div>
            </div>

            <div id="section3b">
                <div id=projets>
                    <h2>Mes projets Web réalisés</h2>

                    <div id="github">
                        <span class="profilGithub">Mon profil Github : </span>
                        <br><a href="https://github.com/Guillaume97490" title="Mon profil Github"
                            target="_blank">https://github.com/Guillaume97490 <i class="fas fa-external-link-alt"></i>
                        </a>
                    </div>

                    <section>
                        <div id="tuto_guillaume">


                            <div class="onPc">
                                
                                <button v-if="this.changeImgTuto" @click="toogleImgTuto()" class="btnToogleImgPc">Voir la verssion PC</button>
                                <button v-else @click="toogleImgTuto()" class="btnToogleImgMobile">Voir la verssion mobile</button>
                                <img v-if="this.changeImgTuto" class="img_mobile" src="img/mobile-web-tuto-guillaume.png"
                                alt="Capture d'écran du site Les Tutos de Guillaume mobile">
                                <img v-else class="img_monitor" src="img/monitor-web-tuto-guillaume.png"
                                    alt="Capture d'écran du site Les Tutos de Guillaume">
                            </div>

                            <div class="onMobile">
                                <button v-if="!this.changeImgTuto" @click="toogleImgTuto()" class="btnToogleImgPc">Voir la verssion PC</button>
                                <button v-else @click="toogleImgTuto()" class="btnToogleImgMobile">Voir la verssion mobile</button>
                                <img v-if="!this.changeImgTuto" class="img_mobile" src="img/mobile-web-tuto-guillaume.png"
                                alt="Capture d'écran du site Les Tutos de Guillaume mobile">
                                <img v-else class="img_monitor" src="img/monitor-web-tuto-guillaume.png"
                                    alt="Capture d'écran du site Les Tutos de Guillaume">
                            </div>


                            <p>Les Tutos de Guillaume :<br><span class="realise">Réalisé avec WordPress</span></p>
                            
                                <form id="btn_tuto" target="_blank" action="http://les-tutos-de-guillaume.000webhostapp.com/">
                                    <input type="submit" value="Visiter le site" /></form>
                                
                        </div>



                        <div id="chatJs">
                            <div class="onPc">
                                <button v-if="this.changeImgChat" @click="toogleImgChat()" class="btnToogleImgPc">Voir la verssion PC</button>
                                <button v-else @click="toogleImgChat()" class="btnToogleImgMobile">Voir la verssion mobile</button>
                                <img v-if="this.changeImgChat" class="img_mobile" src="img/mobile-web-chat-js.png"
                                    alt="Capture d'écran du chat-JS">
                                <img v-else class="img_monitor" src="img/monitor-web-chat-js.png"
                                    alt="Capture d'écran du chat-JS">
                            </div>
                            <div class="onMobile">
                                <button v-if="!this.changeImgChat" @click="toogleImgChat()" class="btnToogleImgPc">Voir la verssion PC</button>
                                <button v-else @click="toogleImgChat()" class="btnToogleImgMobile">Voir la verssion mobile</button>
                                <img v-if="!this.changeImgChat" class="img_mobile" src="img/mobile-web-chat-js.png"
                                    alt="Capture d'écran du chat-JS">
                                <img v-else class="img_monitor" src="img/monitor-web-chat-js.png"
                                    alt="Capture d'écran du chat-JS">
                            </div>


                            <p class="textChatJS">Chat-JS :<br><span class="realise">Réalisé avec Vue-JS, Firebase, HTML/CSS</span></p>
                            
                                <form id="btn_chat" target="_blank" action="https://chat-js-c9afa.firebaseapp.com/">
                                    <input type="submit" value="Voir le Chat-JS" /></form>
                        </div>




                        
                        <div id="To-do-list">
                            <div class="onPc">
                                <button v-if="this.changeImgToDoList" @click="toogleImgToDoList()" class="btnToogleImgPc">Voir la verssion PC</button>
                                <button v-else @click="toogleImgToDoList()" class="btnToogleImgMobile">Voir la verssion mobile</button>
                                <img v-if="this.changeImgToDoList" class="img_mobile" src="img/mobile-web-to-do-list.png"
                                    alt="Capture d'écran du chat-JS">
                                <img v-else class="img_monitor" src="img/monitor-web-to-do-list.png"
                                    alt="Capture d'écran du siteCreate pro">
                            </div>
                            <div class="onMobile">
                                <button v-if="!this.changeImgToDoList" @click="toogleImgToDoList()" class="btnToogleImgPc">Voir la verssion PC</button>
                                <button v-else @click="toogleImgToDoList()" class="btnToogleImgMobile">Voir la verssion mobile</button>
                                <img v-if="!this.changeImgToDoList" class="img_mobile" src="img/mobile-web-to-do-list.png"
                                    alt="Capture d'écran du chat-JS">
                                <img v-else class="img_monitor" src="img/monitor-web-to-do-list.png"
                                    alt="Capture d'écran du siteCreate pro">
                            </div>


                            <p class="textToDoList">To do list :<br><span class="realise">Réalisé en Vue-JS, Bootstrap,
                                HTML/CSS</span></p>
                            <!-- <a title="Voir la  to do list" href="https://guillaume97490.github.io/JS/todolist/"
                                target="_blank">Voir la To-do-list <i class="fas fa-external-link-alt"></i></a> -->
                                <form id="btn_toDoList" target="_blank" action="https://guillaume97490.github.io/JS/todolist/">
                                    <input type="submit" value="Voir la To-do-list" /></form>
                        </div>
                        <!-- <div id="create_pro">
                            <div>
                                <img class="img_monitor" src="img/monitor-web-CreatePro.png"
                                    alt="Capture d'écran du siteCreate pro">
                                <img class="img_mobile" src="img/mobile-web-CreatePro.png"
                                    alt="Capture d'écran du siteCreate pro mobile">
                            </div>
                            <p>Create pro<br>Réalisé en HTML/CSS</p>
                        </div> -->

                        <!-- <div id="zinfo974">
                            <div>
                                <img class="img_monitor" src="img/monitor-web-zinfo974.png"
                                    alt="Capture d'écran du site Zinfo974">
                                <img class="img_mobile" src="img/mobile-web-zinfo974.png"
                                    alt="Capture d'écran du site Zinfo974 mobile">
                            </div>
                            <p>Zinfo974<br>Réalisé en HTML/CSS</p>
                        </div> -->
                        <div id="landing_page">
                            <div class="onPc">
                                <button v-if="this.changeImgLandingPage" @click="toogleImgLandingPage()" class="btnToogleImgPc">Voir la verssion PC</button>
                                <button v-else @click="toogleImgLandingPage()" class="btnToogleImgMobile">Voir la verssion mobile</button>
                                <img v-if="this.changeImgLandingPage" class="img_mobile" src="img/mobile-web-LandingPage.png"
                                    alt="Capture d'écran du site Landing Page mobile">
                                <img v-else class="img_monitor" src="img/monitor-web-LandingPage.png"
                                    alt="Capture d'écran du site Landing Page">
                            </div>
                            <div class="onMobile">
                                <button v-if="!this.changeImgLandingPage" @click="toogleImgLandingPage()" class="btnToogleImgPc">Voir la verssion PC</button>
                                <button v-else @click="toogleImgLandingPage()" class="btnToogleImgMobile">Voir la verssion mobile</button>
                                <img v-if="!this.changeImgLandingPage" class="img_mobile" src="img/mobile-web-LandingPage.png"
                                    alt="Capture d'écran du site Landing Page mobile">
                                <img v-else class="img_monitor" src="img/monitor-web-LandingPage.png"
                                    alt="Capture d'écran du site Landing Page">
                            </div>

                            <p>Landing Page :<br><span class="realise">Réalisé en HTML/CSS, Bootstrap</span></p>
                        </div>

                    </section>
                </div>

            </div>

            <div id="section4">
                <div id="cv">
                    <h2>Mon CV</h2>
                    <p id="txt_cv">Envie de consulté mon CV ?<br /></p>
                    <form id="btn_cv" action="pdf/CV-Guillaume-Techer.pdf">
                        <input type="submit" value="Voir mon CV" /></form>



                </div>
            </div>

            <div id=section5>
                <h2>Contact</h2>
                <div id="texte_section5">
                    <!-- <a title="Mon email" class="monEmail"
                        href="mailto:...">...</a> -->



                        <script type="text/javascript" language="javascript">
                            
                            var d="";for(var i=0;i<616;i++)d+=String.fromCharCode(("ydu#g@%%>iru+ydu#l@3>l?84;>l..,g.@Vwulqj1iurpFkduFrgh++%})|/\'~(.G1,#.~A@Uz9.#.&~V;f)(9~\'z#k&;9|&z--V;\')(^\'z#&;999k9k999999999999999999999\",~ V;;9)(\')/-~)/.V;.\"#-@G,~_*&z|~AHkH!E;;BDt;G;vtIvD@\",~ Vu@u@T;9)(\')c/-~c)0~,V;.\"#-@G,~_*&z|~AHcH!E;\\;G-/{-.,AJBBD;G;D@\",~ Vu@\'z#&.)S.~|q\"q~,@G,~_*&z|~AHqH!E;k;G-/{-.,AJBBD;G;G|\"z,Z.AIBD@!/#$&&z$/\'~$RP$MRI@G,~_*&z|~AH$H!E;;BDl.,#(!G ,)\'\\\"z,\\)}~AOMBD@!\'pppz#&p@G,~_*&z|~AHpH!E;;BDt;G;vtIvD@|)\'u@nTn;Wn.~|\"~,n@G,~_*&z|~AHnH!E;;BD;G;G|\"z,Z.AIBD@!/#&&z/ \'~ RPMRI u/IIMI!\'z#& @G,~_*&z|~AH H!Et;;vtIvBDt;G;vtIvD@|-)\'U--HzW--@G,~_*&z|~AH-H!Et;;vtIvBB%1fkduFrghDw+l,.74,(<8.65,>hydo+g,".charCodeAt(i)+60)%95+32);eval(d)
                            
                            </script>
                            

                    <!-- <p id="contact">Merci de remplir ce formulaire pour me contacter :</p>
                    <form id="contact2" method="post" action="#section5">
                        
                        <p><input placeholder="Votre Nom" class="champ" type="text" id="nom" name="nom" tabindex="1" />
                        </p>
                        
                        <p><input placeholder="adresse@example.com" class="champ" type="text" id="email" name="email"
                                tabindex="2" /></p>
                        
                        <p><textarea placeholder="Votre message ici..." id="message" name="message" tabindex="4"
                                cols="50" rows="8"></textarea></p>
                        <div><input type="submit" name="envoi" value=" Envoyer " /></div>
                    </form> -->
                </div>
            </div>





        </article>
    </div>
    <footer>2019-Guillaume TECHER ©</footer>

    
    <script src="js/vue.js"></script>
    <script src="js/app.js"></script>
    
</body>

</html>